@using OagengTechnicalTest.Data.Models

        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Using RadzenProgressBar</RadzenText>
               <RadzenUpload Url="upload/upload" Progress=@TrackProgress Complete=@CompleteUpload class="w-100" />
                <RadzenProgressBar Value=@progress class="mt-4" Visible=@showProgress />
                <RadzenButton Text="Cancel" Click=@(args => CancelUpload()) class="d-block mt-4" Visible=@showProgress />
                <RadzenLabel Visible=@showComplete class="mt-4" Text=@completionMessage />
            </RadzenCard>
        </div>

@code {
    int progress;
    bool showProgress;
    bool showComplete;
    string completionMessage;
    bool cancelUpload = false;

    void CompleteUpload(UploadCompleteEventArgs args)
    {
        Thread.Sleep(5000);
        if (!args.Cancelled)
            completionMessage = "Upload Complete!";
        else
            completionMessage = "Upload Cancelled!";
        showProgress = false;
        showComplete = true;
    }

    void TrackProgress(UploadProgressArgs args)
    {  
        showProgress = true;
        showComplete = false;
        args.Cancel = cancelUpload;
        progress = args.Progress;
        cancelUpload = false;
    }
    void CancelUpload()
    {
        cancelUpload = true;
    }
}
